server:
  port: 8080 # El puerto de entrada único para el frontend

spring:
  application:
    name: gateway-service # Nombre del servicio
  cloud:
    gateway:
      routes:
        # --- Ruta para User Service ---
        - id: user-service
          # Cuando la petición empiece con /api/users/...
          uri: http://user-service:8081 # Redirige al contenedor 'user-service' en su puerto
          predicates:
            - Path=/api/users/**

        # --- Ruta para Activity Service ---
        - id: activity-service
          uri: http://activity-service:8082
          predicates:
            - Path=/api/activities/**, /api/admin/activities/** # Mapeamos ambas rutas

        # --- Ruta para Sponsor Service ---
        - id: sponsor-service
          uri: http://sponsor-service:8083 # (asegúrate de que este sea el puerto correcto)
          predicates:
            - Path=/api/sponsors/**

        # --- Ruta para Report Service ---
        - id: report-service
          uri: http://report-service:8084
          predicates:
            - Path=/api/reports/**

        # --- Ruta para Donation Service ---
        - id: donation-service
          uri: http://donation-service:8085
          predicates:
            - Path=/api/donations/**