server:
  port: 8080 # El puerto de entrada único para el frontend

spring:
  application:
    name: gateway-service # Nombre del servicio
  cloud:
    gateway:
      discovery:
        locator:
          # 1. Deshabilitamos la búsqueda de servicios por descubrimiento
          enabled: false
          lower-case-service-id: true
      routes:
        # --- Ruta para User Service ---
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/users/**

        # --- Ruta para Activity Service ---
        - id: activity-service
          uri:  http://activity-service:8082
          predicates:
            - Path=/api/activities/**, /api/admin/activities/** # Mapeamos ambas rutas

        # --- Ruta para Sponsor Service ---
        - id: sponsor-service
          uri: http://sponsor-service:8083
          predicates:
            - Path=/api/sponsors/**

        # --- Ruta para Report Service ---
        - id: report-service
          uri: http://report-service:8085
          predicates:
            - Path=/api/reports/**

        # --- Ruta para Donation Service ---
        - id: donation-service
          uri: http://donation-service:8084
          predicates:
            - Path=/api/donations/**

        # --- Ruta para Exchange Service ---
        - id: exchange-service
          uri: http://exchange-service:8086
          predicates:
              - Path=/api/exchanges/**

      #Filtros globales que se aplican a todas las rutas
      default-filters:
          # Le dice que aplique este filtro (por su nombre de clase) a TODAS las rutas
          - name: Authentication
logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.web: DEBUG
    reactor.netty: DEBUG